body
	background #EFEFF4

.head
	width 100%
	height 50px
	background #fff url(../../img/nav_back_icon@2x.png) no-repeat 15px 
	background-size 2.5%
	line-height 50px
	text-align center
	
.head_title
	color #ea5404
	margin-left 35px
.man_title
	width 100%
	height 30px
	line-height 30px
	font-size 14px
	margin-left 15px
	color #c0c0c0
.mandatory
	width 100%
	background #fff
.man_img
	width 120px
	height 64px
	margin 0 auto
	padding-top 10px
	padding-bottom 10px
	border-bottom 1px solid #c0c0c0
.img_more
	width 65px
	height 65px
	margin 0 auto
	background grey
	border-radius 50%
	line-height 65px
	text-align center
	color #fff
	font-size 12px
.man_name
	display block
	width 230px
	height 30px
	margin 0 auto
	margin-top 10px
	border 1px solid #dcdcdc
	background #EFEFF4
	padding-left 10px
	font-size 14px
	border-radius 3px
	outline none
.man_contant
	display block
	width 230px
	height 30px
	margin 0 auto
	margin-top 5px
	border 1px solid #dcdcdc
	background #EFEFF4
	padding-left 10px
	font-size 14px
	border-radius 3px
	outline none

.man_contract
	width 100px
	height 75px
	margin 0 auto
.contract_more
	width 100px
	height 65px
	margin 0 auto
	margin-top 10px
	margin-bottom 10px
	background grey
	border-radius 5px
	line-height 65px
	text-align center
	color #fff
	font-size 12px

.opt_title
	width 100%
	height 30px
	line-height 30px
	font-size 14px
	margin-left 15px
	color #c0c0c0

.optional
	width 100%
	height 75px
	margin 0 auto
	padding-top 10px
	background #fff
.opt_more
	width 100px
	height 65px
	margin 0 auto
	background grey
	border-radius 5px
	line-height 65px
	text-align center
	color #fff
	font-size 12px

.finish
	width 94%
	height 45px
	margin-left 3%
	margin-top 45px
	border none
	background #ea5404
	color #fff
	border-radius 5px
	font-size 16px