<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>ZH-Company</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/message/message_notice.css" />
</head>
<body>
	<div class="head">
		<div class="head_all">
			<span class="news">消息</span>
			<span class="notice">通知</span>
			<span class="demand">需求</span>
		</div>
	</div>

	<div class="news_one">
		<span class="one_header"><span class="one_title">房源维护提示</span><span class="one_date">08/04/13:06</span></span>
		<span class="one_text">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</span>
		<span class="one_add">地址：徐汇-龙华 科技大厦</span>
	</div>
</body>
</html>