<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>ZH-Company</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/message/message_news.css" />
</head>
<body>
	<div class="head">
		<div class="head_all">
			<span class="news">消息</span>
			<span class="notice">通知</span>
			<span class="demand">需求</span>
		</div>
	</div>

	<div class="news_one">
		<span class="one_title">你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="one_text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="one_date">08/04/13:06</span>
	</div>
	<div class="news_one">
		<span class="one_title">你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="one_text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="one_date">08/04/13:06</span>
	</div>
</body>
</html>