<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>ZH-Company</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/message/message_demand.css" />
</head>
<body>
	<div class="head">
		<div class="head_all">
			<span class="news">消息</span>
			<span class="notice">通知</span>
			<span class="demand">需求</span>
		</div>
	</div>

	<div class="news_one">
		<span class="one_header"><span class="one_title">一个新的租房需求</span><span class="one_id">租户</span></span>
		<span class="one_text">需求为：外滩SOHO，200平方写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</span>
		<span class="one_btm">
			<span class="one_info">了解详情</span>
			<span class="one_date">08/04/13:06</span>
		</span>
	</div>

	<div class="news_one">
		<span class="one_header"><span class="one_title">一个新的租房需求</span><span class="one_id2">经纪人</span></span>
		<span class="one_text">需求为：外滩SOHO，200平方写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</span>
		<span class="one_btm">
			<span class="one_info">了解详情</span>
			<span class="one_date">08/04/13:06</span>
		</span>
	</div>
	
	<div class="bottom">
		<span class="bottom_one">首页
		</span>
		<span class="bottom_two">预约
		</span>
		<span class="bottom_three">
		</span>
		<span class="bottom_four">信息
		</span>
		<span class="bottom_five">我
		</span>
	</div>
</body