<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company - 杭州摆摆网络科技有限公司</title>
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/message/message_news.css" />
</head>
<body>
	<div class="head">
		<div class="head_all">
			<span class="news">消息</span>
			<span class="notice">通知</span>
			<span class="demand">需求</span>
		</div>
	</div>

	<div class="news_one">
		<span class="one_title">你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="one_text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="one_date">08/04/13:06</span>
	</div>
	<div class="news_one">
		<span class="one_title">你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="one_text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="one_date">08/04/13:06</span>
	</div>

	<div class="bottom">
		<span class="bottom_one">首页
		</span>
		<span class="bottom_two">预约
		</span>
		<span class="bottom_three">
		</span>
		<span class="bottom_four">信息
		</span>
		<span class="bottom_five">我
		</span>
	</div>

	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script  src="../public/js/bottom.js"></script>
	<script  src="../public/js/message/message.js"></script>
</body>
</html>