<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/info/info.css" />
		
	</head>
	<body>
		<div class="head">
			<strong>我</strong>
		</div>

		<div class="login_box">
			<div class="login_img"></div>
			<div class="login_con">点击登录/注册</div>
		</div>

		<div class="num_box">
			<div class="num_left"><span class="num_acd">0</span><span class="num_word">收藏</span></div>
			<div class="num_right"><span class="num_acd">0</span><span class="num_word">积分</span></div>
		</div>

		<div class="link_cells">
			<div class="link_one">
				<span class="link_cell">我发布的需求</span>
				<span class="link_more"></span>
			</div>
			<div class="link_two">
				<span class="link_cell">我发布的房源</span>
				<span class="link_more"></span>
			</div>
			<div class="link_three">
				<span class="link_cell">我预约的房源</span>
				<span class="link_more"></span>
			</div>
			<div class="link_four">
				<span class="link_cell">历史交易</span>
				<span class="link_more"></span>
			</div>
			<div class="link_five">
				<span class="link_cell">过期房源</span>
				<span class="link_more"></span>
			</div>
		</div>
		<div class="bottom">
			<span class="bottom_one">首页
			</span>
			<span class="bottom_two">预约
			</span>
			<span class="bottom_three">
			</span>
			<span class="bottom_four">信息
			</span>
			<span class="bottom_five">我
			</span>
		</div>
	</body>
</html>
