<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/info/info_edit.css" />
		
	</head>
	<body>
		<div class="head">
			<span><strong>个人资料</strong></span>
		</div>
		

	

		<div class="link_cells">
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">头像</span>
					<span class="link_txt_img"></span>
					<span class="link_more"></span>
				</div>
			</div>
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">简介</span>
					<span class="link_txt">以前喜欢一个人，现在喜欢一个人</span>
					<span class="link_more"></span>
				</div>
			</div>
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">联系方式</span>
					<span class="link_txt">15485663259</span>
					<span class="link_more"></span>
				</div>
			</div>
		</div>
		<div class="optional">
			
			<div class="opt_more">
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">房屋租赁合同</span>
				</div>
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">名片正面</span>
				</div>
				<div class="more-left">
					
				</div>
			</div>


		</div>

			
		</div>
		
	</body>
</html>
