<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/info/info_detail.css" />
		
	</head>
	<body>
		<div class="head">
			<span class="head_title"><strong>个人资料</strong></span>
		</div>
		
		<div class="mandatory">
			<div class="man_img">
				
			</div>
			<div class="man_name">呱呱呱叫</div>
			<div class="man_contant">以前喜欢一个人，现在喜欢一个人</div>
			<div class="man_contract">
				<div class="contract_more" >编辑个人资料</div>
			</div>
		</div>			
		
		<div class="optional">
			<div class="opt_title"><span class="one">联系方式</span><span class="two">18754125496</span></div>
			<div class="opt_more">
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">房屋租赁合同</span>
				</div>
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">名片正面</span>
				</div>
				<div class="more-left">
					
				</div>
			</div>


		</div>
		
	</body>
</html>