<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/info/info_expired.css" />
		
	</head>
	<body>
		<div class="head">
			<span><strong>过期房源</strong></span>
		</div>
		
		<article>
			<section class="boxs">
				<div class="img_box"></div>
				<div class="info_box">
					<div class="info-title">东方金融中心<span class="title-right">已过期</span></div>
					<div class="info-address">浦东-八佰伴</div>
					<div class="info-tag_box">商务中心</div>
					<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
				</div>
			</section>
			<section class="boxs">
				<div class="img_box"></div>
				<div class="info_box">
					<div class="info-title">东方金融中心<span class="title-right">已过期</span></div>
					<div class="info-address">浦东-八佰伴</div>
					<div class="info-tag_box">商务中心</div>
					<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
				</div>
			</section>
			<section class="boxs">
				<div class="img_box"></div>
				<div class="info_box">
					<div class="info-title">东方金融中心<span class="title-right">已过期</span></div>
					<div class="info-address">浦东-八佰伴</div>
					<div class="info-tag_box">商务中心</div>
					<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
				</div>
			</section>
		</article>
	

		
		
	</body>
</html>
