<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company - 杭州摆摆网络科技有限公司</title>
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/info/info_edit.css" />
		
	</head>
	<body>
		<div class="head">
			<span><strong>个人资料</strong></span>
		</div>
		

	

		<div class="link_cells">
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">头像</span>
					<span class="link_txt_img"></span>
					<span class="link_more"></span>
				</div>
			</div>
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">简介</span>
					<span class="link_txt">以前喜欢一个人，现在喜欢一个人</span>
					<span class="link_more"></span>
				</div>
			</div>
			<div class="link_all">
				<div class="link_one">
					<span class="link_cell">联系方式</span>
					<span class="link_txt">15485663259</span>
					<span class="link_more"></span>
				</div>
			</div>
		</div>
		<div class="optional">
			
			<div class="opt_more">
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">房屋租赁合同</span>
				</div>
				<div class="more-left">
					<div class="left"></div>
					<span class="txt">名片正面</span>
				</div>
				<div class="more-left">
					
				</div>
			</div>


		</div>

			
		</div>
		
	</body>
</html>
