<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company - 杭州摆摆网络科技有限公司</title>
		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
		摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/issue/issue.css" />
</head>
<body>
	<header class="header">
		<span class="icon-back">取消</span>
		<span class="header_title">发布房源</span>
	</header>
	<div class="address">
		<div class="add-img">
			<span class="img-left"></span>
			<input type="text" class="img-ipt">
			<span class="img-right"></span>
		</div>
		<span class="add-icon"></span>
		<span class="add-txt">新增楼盘</span>
	</div>
	<div class="info_box">
		<span class="info-title"><i class="info-icon"></i>大厦信息</span>
		<div class="info_cells">
			<div class="info_cell">
				<span class="cell_title">商圈：</span>
				<span class="cell_txt">浦东-八佰伴</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">物业：</span>
				<span class="cell_txt">上海浦江物业有限公司</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">层数：</span>
				<span class="cell_txt">23层</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">层高：</span>
				<span class="cell_txt">标准4.5米，净高2.75米，大堂14.5米</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">车位：</span>
				<span class="cell_txt">地上30个，地下400个，1250元/月</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">电梯：</span>
				<span class="cell_txt">客梯8部，货梯2部，三菱电梯</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">空调：</span>
				<span class="cell_txt">集中式中央空调</span>
			</div>
			<div class="info_cell">
				<span class="cell_title_more">入驻企业：</span>
				<span class="cell_txt">顺城商业地产（房地产/建筑）、大大集团</span>
			</div>
			<div class="info_cell">
				<span class="cell_title">地铁：</span>
				<span class="cell_txt">距离世纪大道站步行7分钟</span>
			</div>
		</div>
	</div>
</body>
</html>