body {
  background: #f5eeea;
}
.logo {
  width: 100%;
  position: relative;
  height: 600px;
  background: #f5eeea url("../../img/yun.png") no-repeat 50% 200px;
  background-size: 30%;
}
.copy {
  text-align: center;
}
