<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/login/login_sublet.css" />
		
	</head>
	<body>
		<div class="head">
			<span class="head_title"><strong>转租人</strong></span>
		</div>
		<span class="man_title">必填项</span>
		<div class="mandatory">
			<div class="man_img">
				<div class="img_more">添加头像</div>
			</div>
			<input type="text" class="man_name" placeholder="姓名">
			<input type="text" class="man_contant" placeholder="联系方式">
			<div class="man_contract">
				<div class="contract_more" >房屋租赁合同</div>
			</div>
		</div>			
		<span class="opt_title">选填项</span>
		<div class="optional">
			<div class="opt_more">名片正面</div>
		</div>
		<button class="finish">完成</button>
	</body>
</html>