<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
				maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>ZH-Company</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/login/register_success.css" />
		
	</head>
	<body>
		<div class="box">
			<span class="box_one">注册完成，等待后天确认</span>
			<span class="box_two">确认</span>
		</div>
	
	</body>
</html>