<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>ZH-Company</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
	<link rel="stylesheet" href="../public/css/home/home.css" />
</head>
<body>
	<header class="header">
		<span class="icon-back">上海</span>
		<span class="header_title">ZH-Company</span>
	</header>
	<div class="search_box">
		<div class="search_input"><i class="icon-search"></i><span class="search_title">挑好房，上ZH-Company</span></div>
	</div>
	<div class="slider_box">
		<div class="slider_container">
			<div class="slider_block"></div>
		</div>
		<div class="point_box">
			<div class="point_block"></div>
			<div class="point_block"></div>
			<div class="point_block"></div>
			<div class="point_block"></div>
		</div>
	</div>
	<div class="query_box">
		<div class="query_block">
			<span class="block_title">区域</span>
			<i class="icon"></i>
		</div>
		<div class="query_block">
			<span class="block_title">面积</span>
			<i class="icon"></i>
		</div>
		<div class="query_block">
			<span class="block_title">单价</span>
			<i class="icon"></i>
		</div>
		<div class="query_block">
			<span class="block_title">更多</span>
			<i class="icon"></i>
		</div>
		<div class="query_price">
			<i class="price-icon"></i>
		</div>
	</div>
	<article>
		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>
		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>
		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>
		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>

		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>

		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>

		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>

		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>

		<section class="boxs">
			<div class="img_box"></div>
			<div class="info_box">
				<div class="info-title">东方金融中心</div>
				<div class="info-address">浦东-八佰伴</div>
				<div class="info-tag_box">商务中心</div>
				<div class="info-price"><span class="price-nb">&yen;7</span><span class="price-un">元/平米/天起</span><span class="price-dp">佣金：1个月</span></div>
			</div>
		</section>
	</article>
	<div class="bottom">
		<span class="bottom_one">首页
		</span>
		<span class="bottom_two">预约
		</span>
		<span class="bottom_three">
		</span>
		<span class="bottom_four">信息
		</span>
		<span class="bottom_five">我
		</span>
	</div>
</body>
</html>