body
	background #EFEFF4

.head
	
	height 30px
	background #fff
	padding 10px
.head_all
	width 256px
	height 30px
	border 1px solid #ea5404
	border-radius 3px
	margin 0 auto

.news
	display block
	float left
	width 85px
	height 30px
	line-height 30px
	text-align center
	font-size 14px
	color #ea5404
.notice
	display block
	float left
	width 85px
	height 30px
	line-height 30px
	text-align center
	font-size 14px
	color #fff
	background #ea5404
	border-right 1px solid #ea5404
.demand
	display block
	float left
	width 85px
	height 30px
	line-height 30px
	text-align center
	font-size 14px
	color #ea5404

.news_one
	width 92%
	height 120px
	background #fff
	margin 0 auto
	margin-top 10px
	border-radius 4px
	box-shadow 0px 0px 3px 1px #d0d0d0
.one_header
	display block
	width 100%
	display flex
	font-size 14px
	line-height 40px
	border-bottom 1px solid #dcdcdc
	
	.one_title
		margin 0 auto
		font-size 16px
		flex 1
		text-align left
		height 40px
		color #1
		text-indent 1em
	.one_date
		flex 1
		font-size 12px
		margin 0 auto
		text-align right
		height 40px
		color grey
		padding-right 1em
		
.one_text
	display block
	width 94%
	line-height 16px
	font-size 12px
	text-indent 5px
	margin 0 auto
	margin-top 10px
	color grey
.one_add
	display block
	font-size 12px
	width 94%
	margin 0 auto
	color grey
	line-height 16px

.bottom
	right 0px
	left 0px
	height 40px
	position fixed
	bottom 0px
	background #fff
	display flex
	padding 5px
	.bottom_one
		display block
		flex 1
		background url(../../img/bottom_nor_icon04@2x.png) no-repeat top
		background-size 30%
		text-align center
		line-height 62px
		font-size 12px
		
		color #b4b4b4
	.bottom_two
		display block
		flex 1
		background url(../../img/bottom_nor_icon03@2x.png) no-repeat top
		background-size 30%
		text-align center
		line-height 62px
		font-size 12px
		color #b4b4b4
	.bottom_three
		display block
		flex 1
		background url(../../img/bottom_icon05@2x.png) no-repeat center
		background-size 65%
		text-align center
		
		
		border-radius 5px

	.bottom_four
		display block
		flex 1
		background url(../../img/bottom_press_icon02@2x.png) no-repeat top
		background-size 30%
		text-align center
		line-height 62px
		font-size 12px
		
		color #EA5404
	.bottom_five
		display block
		flex 1
		background url(../../img/bottom_nor_icon01@2x.png) no-repeat top
		background-size 30%
		text-align center
		line-height 62px
		font-size 12px
		color #b4b4b4


	